@model ECommerceApp.Models.Product

@{
    ViewData["Title"] = "Delete";
}



<h3 style="position:relative; left:30%">Are you sure you want to delete this?</h3>
<div>
    

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div id="updateUserWrapper">
        <i id="openUpdateUser" class="fas fa-user-edit btn-icon"></i>
    </div>

    <hr />
    <dl class="row" style="position: relative; left: 35%">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    


    <form asp-action="Delete" style="position: relative; left: 35%">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        @* <a asp-action="Index">Back to List</a> *@
    </form>


</div>
<div>
    <a asp-action="Index">
        <i class="fas fa-arrow-left"></i> <!-- Font Awesome icon -->
    </a>
</div>
<div id="sidebar" class="sidebar">
    <button type="button" class="close-btn" id="closeSidebar">
        <i class="fas fa-times"></i>
    </button>

    <div id="updateUserContainer"></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>



         $('#openUpdateUser').click(function() {

            $('#openUpdateUser').hide();


            $('#mainContent').addClass('faded');


            $('#sidebar').addClass('active');
            $.ajax({
                url: 'http://localhost:5062' + '/Account/GetUpdateUserPartial',
                type: 'GET',
                success: function(data) {
                    $('#updateUserContainer').html(data);
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        });


        $('#closeSidebar').click(function() {

            $('#openUpdateUser').show();


            $('#mainContent').removeClass('faded');


            $('#sidebar').removeClass('active');
        });


    </script>

    <style>
        .sidebar {
            position: fixed;
            top: 0;
            right: -400px;
            width: 400px;
            height: 100%;
            background: #f8f9fa;
            padding: 20px;
            transition: right 0.3s ease-in-out;
            box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
        }

            .sidebar.active {
                right: 0;
            }

        .close-btn {
            background: none;
            border: none;
            font-size: 20px;
            color: red;
            float: right;
            cursor: pointer;
        }

        #openUpdateUser {
            position: relative;
            z-index: 9999;
            cursor: pointer;
            display: inline-block;
        }

        #updateUserWrapper {
            position: fixed;
            top: 20px;
            right: 50px;
            z-index: 1000;
        }

        #openUpdateUser {
            font-size: 24px;
            color: #007bff;
            cursor: pointer;
        }

            #openUpdateUser:hover {
                color: #0056b3;
            }
    </style>
}